---
import GlobalPlayer from "../components/player/GlobalPlayer.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Smol">
	<main class="h-[calc(100vh-52px)] overflow-hidden text-white p-0 md:px-4 max-w-7xl mx-auto -mt-[2px] md:mt-0">
		<GlobalPlayer client:only="svelte" />
	</main>
</Layout>
