---
import Layout from "../layouts/Layout.astro";
import RadioBuilder from "../components/radio/RadioBuilder.svelte";
import snapshot from "../data/smols-snapshot.json";
import type { Smol } from "../types/domain";

const smols = snapshot as unknown as Smol[];
---

<Layout title="Radio Station">
  <div class="pt-8">
    <RadioBuilder client:load {smols} />
  </div>
</Layout>
