---
import Layout from "../layouts/Layout.astro";
import TagExplorer from "../components/tags/TagExplorer.svelte";
// LIVE DATA: TagExplorer now fetches smols on mount
---

<Layout title="Tags Explorer">
  <div class="mx-auto max-w-6xl px-4 pt-2 pb-8 overflow-x-hidden">
    <TagExplorer client:load />
  </div>
</Layout>
