---
import Layout from "../layouts/Layout.astro";
import TagExplorer from "../components/tags/TagExplorer.svelte";
// LIVE DATA: TagExplorer now fetches smols on mount
---

<Layout title="Tags Explorer">
  <div class="h-[calc(100vh-52px)] overflow-hidden">
    <TagExplorer client:load />
  </div>
</Layout>
